<main class="lg:grid grid-cols-[1fr_auto_1fr]">
  <app-location class="col-start-3 row-start-1" />
  <app-clothing class="col-start-2 row-start-1" />
</main>
<footer class="m-4 font-sans text-center text-zinc-500">
  <p>
    Používáme OpenStreetMap a MET Norway data <br />Data from MET Norway, and
    OpenStreetMap
  </p>
  <p>
    MET Norway data licenses:
    <a
      href="https://data.norge.no/nlod/en/2.0"
      class="underline text-cyan-700 dark:text-cyan-300/50 hover:text-cyan-600 dark:hover:text-cyan-300/70 transition"
      >Norwegian Licence for Open Government Data (NLOD) 2.0</a
    >
    and
    <a
      href="Creative Commons 4.0 BY International"
      class="underline text-cyan-700 dark:text-cyan-300/50 hover:text-cyan-600 dark:hover:text-cyan-300/70 transition"
      >https://creativecommons.org/licenses/by/4.0/</a
    >
  </p>
  <p>
    OpenStreetMap data license:
    <a
      href="https://opendatacommons.org/licenses/odbl/"
      class="underline text-cyan-700 dark:text-cyan-300/50 hover:text-cyan-600 dark:hover:text-cyan-300/70 transition"
      >Open Data Commons Open Database License</a
    >
  </p>
</footer>
