/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer utilities {
  .no-search-clear::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
    display: none;
  }
}
